<ion-content has-header="true" has-tabs="true" scroll="true" ng-repeat="item in vm.data">
  <div class="description">
    <p>Healthy Places was created to make it easier for people to live a healthy lifestyle by helping you find businesses and events that cater to health food, holistic health, wellness, and fitness. On the Explore tab, you can see all the Healthy Places in your area and Filter by the different categories or search for the business name or by a specific key word you are looking for. Categories are as follows:</p>

    <p>&bull; Dining- businesses in this category must offer items on their menu that fall under at least one of the following sub-categories:<br />
      &bull; Organic<br />
      &bull; Local<br />
      &bull; Gluten-free<br />
      &bull; Vegan<br />
      &bull; Vegetarian<br />
      &bull; Raw<br />
      &bull; Clean meats<br />
      &bull; GMO-free</p>

    <p>&bull; Juices &amp; Smoothies- businesses in this category offer juices and/or smoothies on their menu. They may or may not also offer food choices.</p>

    <p>&bull; Grocery- businesses in this category must fall under one of the following sub-categories:<br />
      &bull; Farmers Market- an outdoor market with vendors that may or may not be open seasonally or year-round<br />
      &bull; Indoor Market- a smaller farmers market style store, usually not a chain, with regular business hours<br />
      &bull; Store- a larger grocery store chain that has multiple locations</p>

    <p>&bull; Health &amp; Beauty- businesses in this category must fall under at least one of the following sub-categories:<br />
      &bull; Wellness Center- any place that offers services that are holistic in nature that promote health &amp; wellness<br />
      &bull; Salon/Spa- includes places that offer massage and other spa treatments as well as beauty and hair services that are &ldquo;green&rdquo;, organic, or vegan in some way<br />
      &bull; Store- any place that sells items related to health &amp; wellness such as essential oils, holistic supplements, etc.</p>

    <p>&bull; Fitness- businesses in this category must fall under at least one of the following sub-categories:<br />
      &bull; PiYo- Pilates or Yoga studios<br />
      &bull; Gyms- any traditional gym, usually requires a membership <br />
      &bull; Other- any fitness oriented place that does not fall under the other 2 sub-categories which may include CrossFit, Martial Arts, Pole Dancing, Indoor Rock Climbing, etc.</p>

    <p style="font-style: italic;">*Listing information is subject to change without notice and we do not guarantee 100% accuracy of the information in the listings. We suggest to call ahead to any business you plan to visit to verify hours of operation. If you come across any business that has incorrect information or may be closed, you can report those issues to us at healthyplacesapp@gmail.com or submit a form on the listing itself at the bottom where it says &lsquo;Edit Listing&rsquo;.<br />
    </p>
  </div>
</ion-content>
