 .button-bar {
      border: 1px solid #5A2B83 !important;
      padding: 0px;
    }
     .padding {
 	  margin-left: 0;
 	  margin-right: 0;
 	  padding: 10px;
 	 }
 	  .loyalty  {
         top: 34px !important;
     }

     .btncoupan {
     font-size: 13px;
     }

     .loyaltyimg
     {
	margin-top:7px;
     }

     .posnum  {
     position: initial;
     }
     .m-loya{
     margin-top:7px;
     }
   