<ion-view cache-view="false" class="Location-detail">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <toggle-favorite></toggle-favorite>
      <div class="headbtnpadding" share-listing>
        <button class="button button-clear button-positive">
          <img src="img/Share.png">
        </button>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <find-one-listing></find-one-listing>
</ion-view>
