.Location {
  .topgraphics img {
    width: 100%;
    height: auto;
  }

  .oval {
    left: 35px;
    position: absolute;
    top: 30px;
  }

  .description {
    margin-top: 28px;
    padding: 40px;
    font-size: 17px;
  }
}
