<ion-view cache-view="false" class="About">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <div class="headbtnpadding">
        <button class="button button-clear button-positive">
          <img src="img/HeartWhite.png">
        </button>
      </div>
      <div class="headbtnpadding">
        <button class="button button-clear button-positive">
          <img src="img/Share.png">
        </button>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <about></about>
</ion-view>
