.Event-detail {
  .ptitle {
    font-size: 23px !important;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    padding-left: 10px !important;
    padding-top: 5px !important;
  }

  .pdescription {
    font-weight: 400 !important;
  }

  .background {
    background-color: #DED5E6;
  }

  .item-heading {
    height: 55px !important;
    padding-left: 10px !important;
  }
}
.bar {
  background: #5A2B83 !important;
}
.button.button-clear {
  color: #fff !important;
}
.bar.bar-stable .title {
  color: #fff !important;
}

.button-custom
{
  background-color : #FFF !important;
  color:#5a2b83 !important;
}

.ptitle{
  font-size: 23px !important;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding-left: 10px !important;
  padding-top: 5px !important;
}

.pstar
{
  margin:0px;
  padding-left:10px !important;
  padding-bottom:2px !important;
  font-weight:500;
  font-size:15px !important;
}

.pdescription
{
  margin:0px;
  padding:10px !important;
  font-weight:400;
  font-size:15px !important;
  color:#444444;
}

.prestauranttitle
{
  font-size:20px !important;
  font-weight:700;
  margin:0px;
  display:block;
  padding-top:5px !important;
  padding-left:10px !important;
}

.item p {
  color: #000 !important;
}

.forward-img{
  width : 7px !important;
  height:12px !important;
  margin-top: 20px;
}

.forward-first{
  width : 7px !important;
  height:12px !important;
  position: absolute;
  right: 10px;
  top: 20px;
}

.addImage
{
  height: 20px !important;
  width: 15px !important;
}

.listImage
{
  height: 20px !important;
  width: 20px !important;
}

a.item
{
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.item-icon-right
{
  padding-right:30px !important;
}

.distancespan {
  color: #444444;
  font-size: 13px;
  position: absolute;
  right: 22px;
  top: 15px;
}

.item-divider {
  overflow: unset !important;
}

.list
{
  margin-bottom :0px !important;
}

.alignText
{
  display:flex;
  align-items:center;
  color: #444444 !important;
}

.item-avatar
{
  padding-left:50px !important;
  min-height: 55px !important;
}
.rating{
  font-size :55px;
}
.background{
  background-color:#DED5E6;
}
.item-heading{
  height:55px !important;
  padding-left : 10px !important;
}
.topgraphics img{
  width:100%;
  height:auto;
}
